html,body {
  background: url(lightest.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

.calculator {
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 auto;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
    border: 5px solid rgb(29, 0, 29);
    border-radius: 10px;

}

@media only screen and (max-width: 400px) {
    .calculator {
        height: 400px;
        width: 280px;
        border: 2px inset purple;
    }
  }

#output {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 90px;
    margin: 10px auto 10px auto;
    width: 375px;
    font-family: 'Roboto Mono', monospace;
    color: #ffd453;
    background-color:rgb(94, 0, 156);
    border-radius: 15px;
}

@media only screen and (max-width: 400px) {
    #output {
      height: 70px;
      width: 250px;
    }
  }

#history {
  display: inline-flex
}

h1 {
    display: flex;  
    font-size: 28px;
    margin: 0 10px 0 0;
    flex-grow: 1;
}

h2 {
    display: flex;
    font-size: 14px;
    margin: 5px 6px 0 0;
    flex-grow: 1;
}

@media only screen and (max-width: 400px) {
    h1 {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 10px;
    }
  }
#buttons {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    height: 100%;
    border-top: 5px inset purple;
    padding: 20px;
}

@media only screen and (max-width: 400px) {
    #buttons {
        border-top: 2px inset purple;
    }
  }

button {
    flex-grow: 1;
    color: rgb(35, 0, 58);
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #ffd453 74%);
    font-family: 'Roboto Mono', monospace;
    font-size: 3vh;
    font-weight: bold;
    border: 3px solid rgb(29, 0, 29);
    border-radius: 10px;
}

button:active {
  box-shadow: 0 3px  rgb(29, 0, 29);
  transform: translateY(2px);
}